<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}"> -->
<link rel="stylesheet" href="style.css">
  
</head>

<body>
 <div class="login">
<h1>Salary Classifier</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="/predict" method="post">
    <div class="bioInfo">
    <input type="number" name="age" placeholder="Age (17-90)" required="required" />
    <input type="number" name="fnlwgt" placeholder="Fnlwgt (12285-1484705)" required="required" />
    </div>
    <div class="educationInfo">
    <label for="education">Education</label>
    <select id="education" name="education">
      <option value="0">10th</option>
      <option value="1">11th</option>
      <option value="2">12th</option>
      <option value="3">1st-4th</option>
      <option value="4">5th-6th</option>
      <option value="5">7th-8th</option>
      <option value="6">9th</option>
      <option value="7">Assoc-acdm</option>
      <option value="8">Assoc-voc</option>
      <option value="9">Bachelors</option>
      <option value="10">Doctorate</option>
      <option value="11">HS-grad</option>
      <option value="12">Masters</option>
      <option value="13">Preschool</option>
      <option value="14">Prof-school</option>
      <option value="15">Some-college</option>
    </select>
    <input type="number" name="education-num" placeholder="Education-Num (1-16)" required="required" />
    </div>
    <div class="occupationInfo">
    <label for="occup">Occupation</label>
    <select id="occup" name="occup">
      <option value="4069">Adm-clerical</option>
      <option value="10">Armed-Forces</option>
      <option value="4289">Craft-repair</option>
      <option value="4224">Exec-managerial</option>
      <option value="1066">Farming-fishing</option>
      <option value="1444">Handlers-cleaners</option>
      <option value="2092">Machine-op-inspct</option>
      <option value="3687">Other-service</option>
      <option value="156">Priv-house-serv</option>
      <option value="4317">Prof-specialty</option>
      <option value="669">Protective-serv</option>
      <option value="3885">Sales</option>
      <option value="963">Tech-support</option>
      <option value="1666">Transport-moving</option>
    </select>
<input type="number" name="capital-gain" placeholder="Capital-Gain (0-99999)" required="required" />
    <input type="number" name="capital-loss" placeholder="Capital-Loss (0-4356)" required="required" />
    <input type="number" name="hours-per-week" placeholder="Hours-Per-Week (1-99)" required="required" />
  </div>
  <div class="nCountryInfo">
    <label for="native-country">Native Country</label>
    <select id="native-country" name="native-country">
      <option value="23">Cambodia</option>
      <option value="121">Canada</option>
      <option value="79">China</option>
      <option value="59">Columbia</option>
      <option value="95">Cuba</option>
      <option value="70">Dominican Republic</option>
      <option value="28">Ecuador</option>
      <option value="106">El Salvadorr</option>
      <option value="90">England</option>
      <option value="29">France</option>
      <option value="137">Germany</option>
      <option value="29">Greece</option>
      <option value="62">Guatemala</option>
      <option value="44">Haiti</option>
      <option value="1">Holand-Netherlands</option>
      <option value="13">Honduras</option>
      <option value="24">Hong</option>
      <option value="13">Hungary</option>
      <option value="107">India</option>
      <option value="43">Iran</option>
      <option value="24">Ireland</option>
      <option value="73">Italy</option>
      <option value="81">Jamaica</option>
      <option value="63">Japan</option>
      <option value="20">Laos</option>
      <option value="651">Mexico</option>
      <option value="34">Nicaragua</option>
      <option value="14">Outlying-US(Guam-USVI-etc)</option>
      <option value="31">Peru</option>
      <option value="220">Philippines</option>
      <option value="60">Poland</option>
      <option value="37">Portugal</option>
      <option value="116">Puerto-Rico</option>
      <option value="12">Scotland</option>
      <option value="88">South</option>
      <option value="35">Taiwan</option>
      <option value="53">Thailand</option>
      <option value="19">Trinadad&Tobago</option>
      <option value="29663">United States</option>
      <option value="70">Vietnam</option>
      <option value="16">Yugoslavia</option>
    </select>
  </div>
  <div class="raceInfo">
    <h6>Race (please select one)</h6>
    <label for="race_Amer-Indian-Eskimo">Amer-Indian-Eskimo</label>
    <select id="race_Amer-Indian-Eskimo" name="race_Amer-Indian-Eskimo">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
    <label for="race_Asian-Pac-Islander">Asian-Pac-Islander</label>
    <select id="race_Asian-Pac-Islander" name="race_Asian-Pac-Islander">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
    <label for="race_Black">Black</label>
    <select id="race_Black" name="race_Black">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
    <label for="race_Other">Other</label>
    <select id="race_Other" name="race_Other">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
    <label for="race_white">White</label>
    <select id="race_white" name="race_white">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
  </div>
  <div class="relationshipInfo">
    <h6>Relationship (please select one)</h6>
    <label for="relationship_Husband">Husband</label>
    <select id="relationship_Husband" name="relationship_Husband">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
    <label for="relationship_Not-in-family">Not-In-Family</label>
    <select id="relationship_Not-in-family" name="relationship_Not-in-family">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
    <label for="relationship_Other-relative">Other-relative</label>
    <select id="relationship_Other-relative" name="relationship_Other-relative">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
    <label for="relationship_Own-child">Own-child</label>
    <select id="relationship_Own-child" name="relationship_Own-child">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
    <label for="relationship_Unmarried">Unmarried</label>
    <select id="relationship_Unmarried" name="relationship_Unmarried">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
    <label for="relationship_Wife">Wife</label>
    <select id="relationship_Wife" name="relationship_Wife">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
  </div>
  <div class="sexInfo">
    <h6>Sex (please select one)</h6>
    <label for="sex_Female">Female</label>
    <select id="sex_Female" name="sex_Female">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
    <label for="sex_Male">Male</label>
    <select id="sex_Male" name="sex_Male">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
  </div>
  <div class="workclassInfo">
    <h6>Workclass (please select one)</h6>
    <label for="workclass_Federal-gov">Federal-gov</label>
    <select id="workclass_Federal-gov" name="workclass_Federal-gov">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
    <label for="workclass_Local-gov">Local-gov</label>
    <select id="workclass_Local-gov" name="workclass_Local-gov">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
    <label for="workclass_Never-worked">Never-worked</label>
    <select id="workclass_Never-worked" name="workclass_Never-worked">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
    <label for="workclass_Private">Private</label>
    <select id="workclass_Private" name="workclass_Private">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
    <label for="workclass_Self-emp-inc">Self-emp-inc</label>
    <select id="workclass_Self-emp-inc" name="workclass_Self-emp-inc">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
    <label for="workclass_Self-emp-not-inc">Self-emp-not-inc</label>
    <select id="workclass_Self-emp-not-inc" name="workclass_Self-emp-not-inc">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
    <label for="workclass_State-gov">State-gov</label>
    <select id="workclass_State-gov" name="workclass_State-gov">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
    <label for="workclass_Without-pay">Without-pay</label>
    <select id="workclass_Without-pay" name="workclass_Without-pay">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
  </div>
    <button type="submit" class="btn">Predict</button>
    
    </form>
    <a href="/View"><button class="btn">View My Predictions</button></a>
   <h3>{{ prediction_text }}</h3>
 </div>


</body>
</html>
