@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background: #22180d;
  color: #fff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1.2px;

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}

.login {
  position: absolute;
  top: 40%;
  width: 45%;
  left: 32.5%;
}

/*For Window Screen*/
@media screen and (min-width: 1024px) {
  .login {
    max-width: 35%;
  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .login {
    top: 10%;
    width: 80%;
    left: 10%;
  }
}

.login h1 {
  color: #bc7201;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  text-align: center;
}

input {
  width: 100%;
  /* margin-bottom: 10px; */
  background: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  color: #e5ab09;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(120, 93, 35, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}
input:focus {
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4),
    0 1px 1px rgba(255, 255, 255, 0.2);
}

select {
  width: 100%;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}
select:focus {
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4),
    0 1px 1px rgba(255, 255, 255, 0.2);
}

label {
  width: 100%;
  margin-bottom: 10px;
  background: #22180d;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #e5ab09;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}
label:focus {
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4),
    0 1px 1px rgba(255, 255, 255, 0.2);
}

select {
  margin: 1em 0;
}

input[name="education-num"],
input[name="fnlwgt"],
input[name="hours-per-week"] {
  /* margin-bottom: 2em; */
}

#native-country {
  margin-bottom: 2em;
}

.bioInfo {
  border: 2px solid #e5ab09;
    background-color: #bc7201;
  border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2em;
}

.educationInfo, .nCountryInfo, .occupationInfo, .raceInfo, .relationshipInfo, .sexInfo, .workclassInfo, .btngrp {
    border: 2px solid #e5ab09;
    background-color: #bc7201;
    border-radius: 4px;
    margin-top: 1em;
    padding: 2em;
}

::placeholder {
  color: #6a210227;
}

label {
  border-bottom: 1px solid #e5ab09;
}

select {
  height: 2em;
  color: #e5ab09;
}


.btn {
  margin-top: 0.5em;
  padding: 1em;
  width: 100%;
  border: 2px solid #e5ab09;
    background-color: #bc7201;
    border-radius: 4px;
  font-size: 1em;
  font-weight: bold;
}

.btn:hover {
  background-color: #9a5c01;
  color: #e5ab09;
}

h3 {
  color: #e5ab09;
}
